<%- include('../includes/head') %>
</head>
<body>
    <%- include('../includes/nav') %>
    <main>
        <% if(prods.length >0 ) { %>
          <div class="grid">
              <% for (let pr in prods) { %>
                 <article class="card product-item">
                     <header class="card__header">
                         <h1 class="product__title"><%= prods[pr].title %> </h1>
                         <!-- <h1 class="product__title"><%= prods[pr].title %> </h1> -->
                     </header>
                     <div class="card__image">
                         <img src="<%= prods[pr].imgUrl %>" alt="A Book">
                     </div>
                     <div class="card__content">
                         <h2 class="product__price"><%= prods[pr].price %></h2>
                         <p class="product__description"><%= prods[pr].desc %></p>
                     </div>
                     <div class="card__actions">

                        <form action="/add-to-cart" method="POST">
                            <input type="hidden" name="productId" value="<%= prods[pr].id %>">
                            <button  class="btn"type="submit">Add Product</button>
                        </form>
                    </div>
                 </article>
                 <% } %>
         </div> 
         <% } else {%>
             <h1>No Items Found</h1>
             <%} %>
     </main>  
</body>

